In [1]:
import pandas as pd
import numpy as np
import os

In [25]:
# import comics dataframe
comics_path = '/Users/johnpapaioannou/Desktop/insight/project/data/comedians.pkl'
df = pd.read_pickle(comics_path)
df.head()

            comedian  edginess  rating     sim_ht  form
6    Anjelah Johnson  0.000425       1  55.049351     1
93     Nate Bargatze  0.000949       1  97.120238     1
48      Fred Armisen  0.001215       1  33.277902     1
18       Brian Regan  0.001236       1  69.151340     1
109   Rowan Atkinson  0.001379       1  43.785567     1

In [28]:
# list all comics
for i in range(df.shape[0]):
    print(i, ' ', df.iloc[i,0], ' : ', df.iloc[i,4])

0   Anjelah Johnson  :  1
1   Nate Bargatze  :  1
2   Fred Armisen  :  1
3   Brian Regan  :  1
4   Rowan Atkinson  :  1
5   Jim Gaffigan  :  1
6   Kevin James  :  1
7   Henry Rollins  :  0
8   Volker Pispers  :  0
9   Stewart Lee  :  1
10   Ellen Degeneres  :  1
11   Gabriel Iglesias  :  1
12   Jeff Foxworthy  :  1
13   Jerry Seinfeld  :  1
14   Maz Jobrani  :  1
15   Mike Birbiglia  :  1
16   Todd Barry  :  0
17   Enissa Amani  :  0
18   John Mulaney  :  1
19   Adel Karam  :  1
20   Trevor Noah  :  1
21   Ray Romano  :  0
22   Maria Bamford  :  0
23   Emily Heller  :  1
24   Kavin Jay  :  1
25   Michelle Wolf  :  1
26   Sebastian Maniscalco  :  1
27   Dave Attell  :  0
28   Mitch Hedberg  :  0
29   Dylan Moran  :  1
30   Pablo Francisco  :  1
31   Hasan Minhaj  :  0
32   Lewis Black  :  0
33   Patrice Oneal  :  1
34   Michael Mcintyre  :  1
35   Judah Friedlander  :  1
36   Colin Quinn  :  0
37   Hannah Gadsby  :  0
38   Daniel Tosh  :  0
39   Jen Kirkman  :  1
40   Eddie Izzard  :  1
41   Demetri Martin  :  0
42   Dana Carvey  :  1
43   Anthony Jeselnik  :  0
44   Nikki Glaser  :  1
45   Norm Macdonald  :  0
46   Al Madrigal  :  1
47   Bill Maher  :  0
48   Roy Wood  :  1
49   Chelsea Peretti  :  0
50   Sarah Millican  :  1
51   Neal Brennan  :  1
52   Russell Brand  :  0
53   Lenny Bruce  :  1
54   David Cross  :  0
55   Jimmy Carr  :  0
56   Iliza Shlesinger  :  1
57   Patton Oswalt  :  0
58   Jack Whitehall  :  1
59   Ricky Gervais  :  1
60   Aziz Ansari  :  1
61   Greg Davies  :  0
62   Mo Amer  :  1
63   Russell Peters  :  1
64   Amy Schumer  :  0
65   Donald Glover  :  0
66   Bo Burnham  :  1
67   Sarah Silverman  :  0
68   Vir Das  :  0
69   Pete Holmes  :  1
70   Hannibal Buress  :  0
71   Fahim Anwar  :  0
72   Gina Yashere  :  1
73   Todd Glass  :  0
74   Russell Howard  :  1
75   Brad Williams  :  1
76   Ari Shaffir  :  0
77   Ali Wong  :  1
78   Cristela Alonzo  :  0
79   Nick Offerman  :  0
80   George Carlin  :  1
81   John Leguizamo  :  1
82   Joe Mandes  :  1
83   Whitney Cummings  :  1
84   Marc Maron  :  1
85   Jim Norton  :  0
86   Chris Tucker  :  1
87   Wanda Sykes  :  1
88   Daniel Sloss  :  1
89   Bert Kreischer  :  0
90   Robin Williams  :  1
91   Bill Hicks  :  1
92   Tom Segura  :  0
93   Frankie Boyle  :  0
94   Craig Ferguson  :  1
95   Ron White  :  1
96   Adam Devine  :  0
97   Ken Jeong  :  0
98   Jim Jefferies  :  1
99   Paul Mooney  :  1
100   Dave Chappelle  :  0
101   Lisa Lampanelli  :  0
102   Doug Stanhope  :  1
103   Brent Morin  :  1
104   Louis C.K.  :  1
105   Michael Che  :  1
106   D.L. Hughley  :  1
107   Adam Sandler  :  1
108   Big Jay Oakerson  :  1
109   Erik Griffin  :  1
110   Kevin Hart  :  1
111   Joe Rogan  :  1
112   Bill Burr  :  1
113   Cedrice the Entertainer  :  0
114   Bridget Everett  :  1
115   Ralphie May  :  1
116   Chris Rock  :  1
117   Eddie Murphy  :  1
118   Jo Koy  :  1
119   Richard Pryor  :  1
120   Marlon Wayans  :  1
121   Mike Epps  :  0
122   Katt Williams  :  1
123   Deray Davis  :  0
124   Kevin Smith  :  1
125   Eddie Griffin  :  1

In [29]:
# Joe Mandes = 82 => Joe Mande
# Cedrice the Entertainer = 113 => Cedric the Entertainer
# manually entering in validation scores for short/long form
# these are the # of results in google queries of comedian's name + "short jokes" OR "one liners" OR "one-liners" 
# that are then normalized by the total # of results for that comedian's name alone

# e.g. (# of results for Mitch Hedberg "short jokes" OR "one-liners" OR "one liners") / (# of results for Mitch Hedberg)

df2 = df.copy()
df2['form_val'] = ""
print(df2.head())

df2.iloc[0,5] = 0.05046728971
df2.iloc[1,5] = 0.0104735376
df2.iloc[2,5] = 0.30056179775
df2.iloc[3,5] = 0.06969696969
df2.iloc[4,5] = 0.1106060606
df2.iloc[5,5] = 0.036
df2.iloc[6,5] = 0.24483306836
df2.iloc[7,5] = 0.38483146067
df2.iloc[8,5] = 0.00462908011
df2.iloc[9,5] = 0.04813084112
df2.iloc[10,5] = 0.00607594936
df2.iloc[11,5] = 0.01827541827
df2.iloc[12,5] = 0.0577181208
df2.iloc[13,5] = 0.0190140845
df2.iloc[14,5] = 0.18520710059
df2.iloc[15,5] = 0.21770833333
df2.iloc[16,5] = 0.06962962962
df2.iloc[17,5] = 0.00963190184
df2.iloc[18,5] = 0.25709779179
df2.iloc[19,5] = 0.01911111111
df2.iloc[20,5] = 0.00341884816
df2.iloc[21,5] = 0.32808988764
df2.iloc[22,5] = 0.17740384615
df2.iloc[23,5] = 0.06680412371
df2.iloc[24,5] = 0.03329787234
df2.iloc[25,5] = 0.03064516129
df2.iloc[26,5] = 0.0494680851
df2.iloc[27,5] = 0.18857142857
df2.iloc[28,5] = 0.14631268436
df2.iloc[29,5] = 0.47597402597
df2.iloc[30,5] = 0.34846266471
df2.iloc[31,5] = 0.02
df2.iloc[32,5] = 0.25934579439
df2.iloc[33,5] = 0.2096
df2.iloc[34,5] = 0.06649572649
df2.iloc[35,5] = 0.12056074766
df2.iloc[36,5] = 0.08303571428
df2.iloc[37,5] = 0.06931818181
df2.iloc[38,5] = 0.32926829268
df2.iloc[39,5] = 0.02613981762
df2.iloc[40,5] = 0.03251072961
df2.iloc[41,5] = 0.14147465437
df2.iloc[42,5] = 0.44409937888
df2.iloc[43,5] = 0.0447761194
df2.iloc[44,5] = 0.01655430711
df2.iloc[45,5] = 0.06773162939
df2.iloc[46,5] = 0.04170731707
df2.iloc[47,5] = 0.02471861471
df2.iloc[48,5] = 0.1047368421
df2.iloc[49,5] = 0.61111111111
df2.iloc[50,5] = 0.03666666666
df2.iloc[51,5] = 0.02599388379
df2.iloc[52,5] = 0.06589595375
df2.iloc[53,5] = 0.03276836158
df2.iloc[54,5] = 0.07264705882
df2.iloc[55,5] = 0.01569536423
df2.iloc[56,5] = 0.10119047619
df2.iloc[57,5] = 0.04521857923
df2.iloc[58,5] = 0.07673913043
df2.iloc[59,5] = 0.01061895551
df2.iloc[60,5] = 0.04840707964
df2.iloc[61,5] = 0.03850574712
df2.iloc[62,5] = 0.00776595744
df2.iloc[63,5] = 0.05202429149
df2.iloc[64,5] = 0.04312668463
df2.iloc[65,5] = 0.00132065217
df2.iloc[66,5] = 0.06184834123
df2.iloc[67,5] = 0.01060240963
df2.iloc[68,5] = 0.05901639344
df2.iloc[69,5] = 0.0480620155
df2.iloc[70,5] = 0.0549382716
df2.iloc[71,5] = 0.01038135593
df2.iloc[72,5] = 0.22706065318
df2.iloc[73,5] = 0.06089588377
df2.iloc[74,5] = 0.03457556935
df2.iloc[75,5] = 0.042875
df2.iloc[76,5] = 0.01846153846
df2.iloc[77,5] = 0.00237931034
df2.iloc[78,5] = 0.01417218543
df2.iloc[79,5] = 0.06948356807
df2.iloc[80,5] = 0.02248995983
df2.iloc[81,5] = 0.27950310559
df2.iloc[82,5] = 0.09855421686
df2.iloc[83,5] = 0.01891891891
df2.iloc[84,5] = 0.01574290484
df2.iloc[85,5] = 0.26315789473
df2.iloc[86,5] = 0.04756606397
df2.iloc[87,5] = 0.03449691991
df2.iloc[88,5] = 0.05869565217
df2.iloc[89,5] = 0.01064449064
df2.iloc[90,5] = 0.02378190255
df2.iloc[91,5] = 0.05628571428
df2.iloc[92,5] = 0.0094680851
df2.iloc[93,5] = 0.04435146443
df2.iloc[94,5] = 0.0330472103
df2.iloc[95,5] = 0.49823321554
df2.iloc[96,5] = 0.25920245398
df2.iloc[97,5] = 0.17743362831
df2.iloc[98,5] = 0.04978540772
df2.iloc[99,5] = 0.11057579318
df2.iloc[100,5] = 0.01277264325
df2.iloc[101,5] = 0.24795918367
df2.iloc[102,5] = 0.035
df2.iloc[103,5] = 0.12253521126
df2.iloc[104,5] = 0.15692307692
df2.iloc[105,5] = 0.28552631578
df2.iloc[106,5] = 0.02011061946
df2.iloc[107,5] = 0.00418235294
df2.iloc[108,5] = 0.07182448036
df2.iloc[109,5] = 0.03328509406
df2.iloc[110,5] = 0.00222478386
df2.iloc[111,5] = 0.03667820069
df2.iloc[112,5] = 0.00738498789
df2.iloc[113,5] = 0.01888
df2.iloc[114,5] = 0.03546218487
df2.iloc[115,5] = 0.08587570621
df2.iloc[116,5] = 0.02826666666
df2.iloc[117,5] = 0.00959677419
df2.iloc[118,5] = 0.03064814814
df2.iloc[119,5] = 0.04452830188
df2.iloc[120,5] = 0.01860068259
df2.iloc[121,5] = 0.09936808846
df2.iloc[122,5] = 0.06614583333
df2.iloc[123,5] = 0.07945454545
df2.iloc[124,5] = 0.03856332703
df2.iloc[125,5] = 0.1247706422

            comedian  edginess  rating     sim_ht  form form_val
6    Anjelah Johnson  0.000425       1  55.049351     1
93     Nate Bargatze  0.000949       1  97.120238     1
48      Fred Armisen  0.001215       1  33.277902     1
18       Brian Regan  0.001236       1  69.151340     1
109   Rowan Atkinson  0.001379       1  43.785567     1

In [35]:
from scipy.stats.stats import pearsonr

A = df2['sim_ht'].to_list()
B = df2['form_val'].to_list()

corr = pearsonr(A,B)
print(corr)

(-0.0037306700806153613, 0.9669296132986663)

# previous google query method shows zero correlation, not an effective method for correlation, ways to improve?